
.sprite {
    width: 100px;
    animation-name: shimmy;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    transform: rotate(-20deg);
    display: none;
}

@keyframes shimmy {
  0%   {transform: rotate(-20deg);}
  50%  {transform: rotate(20deg);}
  100% {transform: rotate(-20deg);}
}
